@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@model Vidly.Web.ViewModels.CustomerFormViewModel

@{
    var title = (Model.Id == 0) ? @ViewLocalizer["NewCustomer"] : @ViewLocalizer["EditCustomer"];

    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewLocalizer["NewCustomer"]</h1>

@using (@Html.BeginForm("Save", "Customers"))
{
<fieldset>    
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.Name, @ViewLocalizer["CustomerName"].Value)
        @Html.TextBoxFor(vm => vm.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Name)
    </div>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.MembershipTypeId, @ViewLocalizer["MembershipType"].Value)
        @Html.DropDownListFor(vm => vm.MembershipTypeId, new SelectList(Model.MembershipTypesList, "Value", "Text"), @ViewLocalizer["SelectMembershipType"].Value, new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.MembershipTypeId)
    </div>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.Birthdate, @ViewLocalizer["Birthdate"].Value)
        @Html.TextBoxFor(vm => vm.Birthdate, "{0:dd MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(vm => vm.Birthdate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            @Html.CheckBoxFor(vm => vm.IsSubscribedToNewsletter, new { @class = "custom-control-input" })
            @Html.LabelFor(vm => vm.IsSubscribedToNewsletter, @ViewLocalizer["IsSubscribedToNewsletter"].Value, new { @class = "custom-control-label" })
        </div>
    </div>
    @Html.HiddenFor(vm => vm.Id)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@ViewLocalizer["Save"]</button>
    </div>
</fieldset>
}
