@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer
@model Vidly.Web.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewLocalizer["CustomerDetails"]</h1>
<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">@Model.Name</div>
    <div class="card-body">
        <ul>
            <li>@ViewLocalizer["MembershipType"]: @Model.MembershipType.Name</li>
            @if (Model.Birthdate.HasValue)
            {
                <li>@ViewLocalizer["Birthdate"]: @Model.Birthdate.Value.ToShortDateString()</li>
            }
        </ul>
    </div>
</div>
