@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@model Vidly.Web.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewLocalizer["MovieDetails"]</h1>
<div class="card border-primary mb-3" style="max-width: 26rem;">
    <div class="card-header"><strong>@Model.Name</strong></div>
    <div class="card-body">
        <ul>
            <li>@ViewLocalizer["Genre"]: @Model.Genre.Name</li>
            <li>@ViewLocalizer["ReleaseDate"]: @Model.ReleaseDate.ToLongDateString()</li>
            <li>@ViewLocalizer["DateAdded"]: @Model.DateAdded.ToLongDateString()</li>
            <li>@ViewLocalizer["StockNumber"]: @Model.StockNumber</li>
        </ul>
    </div>
</div>
