@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalizer

@model Vidly.Web.ViewModels.MovieFormViewModel

@{
    var title = (Model.Movie == null) ? @ViewLocalizer["NewMovie"] : @ViewLocalizer["EditMovie"];

    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@title</h1>

@using (@Html.BeginForm("Save", "Movies"))
{
<fieldset>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.Movie.Name, @ViewLocalizer["MovieName"].Value)
        @Html.TextBoxFor(vm => vm.Movie.Name, new { @class = "form-control" })
    </div>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.Movie.ReleaseDate, @ViewLocalizer["ReleaseDate"].Value)
        @Html.TextBoxFor(vm => vm.Movie.ReleaseDate, "{0:dd MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.SelectedGenre, @ViewLocalizer["Genre"].Value)
        @Html.DropDownListFor(vm => vm.SelectedGenre, new SelectList(Model.Genres, "Value", "Text"), @ViewLocalizer["SelectGenre"].Value, new { @class = "form-control" })
    </div>
    <div class="form-group" style="max-width: 20rem;">
        @Html.LabelFor(vm => vm.Movie.StockNumber, @ViewLocalizer["StockNumber"].Value)
        @Html.TextBoxFor(vm => vm.Movie.StockNumber, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(vm => vm.Movie.Id)
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@ViewLocalizer["Save"]</button>
    </div>
</fieldset>
}